<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="UltravioletSample.Sample11_GamePads" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="Sample 11 - Game Pads" android:icon="@drawable/desktop_uv72"></application>
</manifest>