<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="Ultraviolet Framework 1.3" Language="1033" Version="1.3.0.0" Manufacturer="TwistedLogik Software" UpgradeCode="167cedac-b1a9-47d8-8646-8b986f178343">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize"/>
    </InstallExecuteSequence>
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="uv.ico" SourceFile="..\TwistedLogik.Ultraviolet\uv.ico" />
    <Property Id="ARPPRODUCTICON" Value="uv.ico" />
     
    <!-- WIX UI -->
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <UI>
      <ProgressText Action="VS2013InstallVSTemplates">Updating project templates for Visual Studio 2013...</ProgressText>
      <ProgressText Action="VS2013WDExpressInstallVSTemplates">Updating project templates for Visual Studio 2013 Express for Windows Desktop...</ProgressText>
      <ProgressText Action="VS2015InstallVSTemplates">Updating project templates for Visual Studio 2015...</ProgressText>
      <ProgressText Action="VS2015CommunityInstallVSTemplates">Updating project templates for Visual Studio Community 2015...</ProgressText>
    </UI>
    <WixVariable Id="WixUILicenseRtf" Value="Payload/Resources/license.rtf" />

    <!-- Requires .NET Framework 4.0 -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="The Ultraviolet Framework requires .NET Framework 4.0.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    
    <!-- Visual Studio installation directories -->
    <PropertyRef Id="VS2013_PROJECTTEMPLATES_DIR"/>
    <PropertyRef Id="VS2013_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    <PropertyRef Id="VS2015_PROJECTTEMPLATES_DIR"/>
    <PropertyRef Id="VS2015_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    
    <Property Id="VS2013EXPRESS_IDE">
      <RegistrySearch Id="VS2013EXPRESS_IDE_SEARCH" Root="HKLM" Key="SOFTWARE\Microsoft\WDExpress\12.0" Name="InstallDir" Type="directory" Win64="no" />
    </Property>
    <Property Id="VS2013EXPRESS_IDE_X64">
      <RegistrySearch Id="VS2013EXPRESS_IDE_SEARCH_X64" Root="HKLM" Key="SOFTWARE\Microsoft\WDExpress\12.0" Name="InstallDir" Type="directory" Win64="yes" />
    </Property>
    <SetProperty Id="VS2013EXPRESS_IDE" After="AppSearch" Value="[VS2013EXPRESS_IDE_X64]">
      VS2013EXPRESS_IDE_X64
    </SetProperty>

    <!-- Visual Studio project template installers -->
    <CustomActionRef Id="VS2013InstallVSTemplates" />
    <CustomActionRef Id="VS2013WDExpressInstallVSTemplates" />
    <CustomActionRef Id="VS2015InstallVSTemplates" />
    <InstallExecuteSequence>
      <Custom Action="VS2013InstallVSTemplates" Before="InstallFinalize" />
      <Custom Action="VS2013WDExpressInstallVSTemplates" Before="InstallFinalize" />
      <Custom Action="VS2015InstallVSTemplates" Before="InstallFinalize" />
    </InstallExecuteSequence>
    
    <!-- Ultraviolet Framework features -->
    <Feature Id="UltravioletFrameworkCoreFeature" Title="Ultraviolet Framework Core Components" Description="Installs the Ultraviolet Framework's native dependencies and .NET assemblies." Display="expand">
      <!-- AssemblyFoldersEx -->
      <ComponentRef Id="AssemblyFoldersEx_x86" />
      <ComponentRef Id="AssemblyFoldersEx_x64" />
      <!-- References -->
      <ComponentRef Id="TwistedLogik.Gluon" />
      <ComponentRef Id="TwistedLogik.Nucleus" />
      <ComponentRef Id="TwistedLogik.Nucleus_XML" />
      <ComponentRef Id="TwistedLogik.Ultraviolet" />
      <ComponentRef Id="TwistedLogik.Ultraviolet_XML" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.OpenGL" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.OpenGL_XML" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.BASS" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.SDL2" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.WindowsForms" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.WindowsForms_XML" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.Desktop" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.OSX" />
      <ComponentRef Id="TwistedLogik.Ultraviolet.UI.Presentation"/>
      <ComponentRef Id="TwistedLogik.Ultraviolet.UI.Presentation_XML"/>
      <ComponentRef Id="TwistedLogik.Ultraviolet.UI.Presentation.Compiler"/>
      <ComponentRef Id="Newtonsoft.Json" />
      <ComponentRef Id="Tools_PATH"/>
      <ComponentRef Id="Tools_UvFont"/>
      <ComponentRef Id="Tools_UvArchive"/>
      <ComponentRef Id="Tools_TwistedLogik.Nucleus"/>
      <ComponentRef Id="Tools_TwistedLogik.Ultraviolet"/>
      <ComponentRef Id="Tools_TwistedLogik.Ultraviolet.Tooling"/>
      <!-- Dependencies (x86) -->
      <ComponentRef Id="SDL2_x86_win32nt" />
      <ComponentRef Id="bass_x86_win32nt" />
      <ComponentRef Id="bass_fx_x86_win32nt" />
      <ComponentRef Id="SDL2_x86_unix" />
      <ComponentRef Id="bass_x86_unix" />
      <ComponentRef Id="bass_fx_x86_unix" />
      <!-- Dependencies (x64) -->
      <ComponentRef Id="SDL2_x64_win32nt" />
      <ComponentRef Id="bass_x64_win32nt" />
      <ComponentRef Id="bass_fx_x64_win32nt" />
      <ComponentRef Id="SDL2_x64_unix" />
      <ComponentRef Id="bass_x64_unix" />
      <ComponentRef Id="bass_fx_x64_unix" />
      <ComponentRef Id="SDL2_x64_osx" />
      <ComponentRef Id="bass_x64_osx" />
      <ComponentRef Id="bass_fx_x64_osx" />
      <!-- Dependencies (Android) -->
      <ComponentRef Id="Android_TwistedLogik.Gluon" />
      <ComponentRef Id="Android_TwistedLogik.Nucleus" />
      <ComponentRef Id="Android_TwistedLogik.Nucleus_XML" />
      <ComponentRef Id="Android_TwistedLogik.Ultraviolet" />
      <ComponentRef Id="Android_TwistedLogik.Ultraviolet_XML" />
      <ComponentRef Id="Android_TwistedLogik.Ultraviolet.OpenGL" />
      <ComponentRef Id="Android_TwistedLogik.Ultraviolet.OpenGL_XML" />
      <ComponentRef Id="Android_TwistedLogik.Ultraviolet.BASS" />
      <ComponentRef Id="Android_TwistedLogik.Ultraviolet.SDL2" />
      <ComponentRef Id="Android_TwistedLogik.Ultraviolet.Android" />
      <ComponentRef Id="Android_Newtonsoft.Json" />
      <!-- Dependencies (Android/armeabi) -->
      <ComponentRef Id="Android_SDL2_armeabi" />
      <ComponentRef Id="Android_SDL2main_armeabi" />
      <ComponentRef Id="Android_bass_armeabi" />
      <ComponentRef Id="Android_bass_fx_armeabi" />
      <!-- Dependencies (Android/armeabi-v7a) -->
      <ComponentRef Id="Android_SDL2_armeabiv7a" />
      <ComponentRef Id="Android_SDL2main_armeabiv7a" />
      <ComponentRef Id="Android_bass_armeabiv7a" />
      <ComponentRef Id="Android_bass_fx_armeabiv7a" />
      <!-- Dependencies (Android/x86) -->
      <ComponentRef Id="Android_SDL2_x86" />
      <ComponentRef Id="Android_SDL2main_x86" />
      <ComponentRef Id="Android_bass_x86" />
      <ComponentRef Id="Android_bass_fx_x86" />
    </Feature>
    <!-- Visual Studio integration -->
    <Feature Id="VSIntegrationFeature" Level="1" Title="Visual Studio Integration" Description="Integrates the Ultraviolet Framework with Visual Studio." Display="expand">
      <!-- VS2013 -->
      <Feature Id="VS2013IntegrationFeature" Level="0" Title="Visual Studio 2013 Integration" Description="Installs project templates for Visual Studio 2013.">
        <Condition Level="1">
          <![CDATA[VS2013_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED OR REMOVE]]>
        </Condition>
        <ComponentRef Id="VS2013RegKey" />
        <ComponentRef Id="VS2013UltravioletGame.zip" />
        <ComponentRef Id="VS2013UltravioletTool.zip" />
      </Feature>
      <!-- VS2013 Express -->
      <Feature Id="VS2013ExpressIntegrationFeature" Level="0" Title="Visual Studio 2013 Express for Windows Desktop Integration" Description="Installs project templates for Visual Studio 2013 Express for Windows Desktop.">
        <Condition Level="1">
          <![CDATA[VS2013EXPRESS_IDE<>"" OR REMOVE]]>
        </Condition>
        <ComponentRef Id="VS2013WDExpressRegKey" />
        <ComponentRef Id="VS2013WDExpressUltravioletGame.zip" />
        <ComponentRef Id="VS2013WDExpressUltravioletTool.zip" />
      </Feature>
      <!-- VS2015 -->
      <Feature Id="VS2015IntegrationFeature" Level="0" Title="Visual Studio 2015 Integration" Description="Installs project templates for Visual Studio 2015.">
        <Condition Level="1">
          <![CDATA[VS2015_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED OR REMOVE]]>
        </Condition>
        <ComponentRef Id="VS2015RegKey" />
        <ComponentRef Id="VS2015UltravioletGame.zip" />
        <ComponentRef Id="VS2015UltravioletTool.zip" />
      </Feature>
    </Feature>    
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!-- Core Components - References -->
        <Directory Id="UltravioletCoreFolder" Name="Ultraviolet Framework">
          <Directory Id="UltravioletCoreVersionFolder" Name="v1.3">
            <!-- References -->
            <Directory Id="References" Name="References">
              <!-- Add References folder to AssemblyFoldersEx for VS Add Reference dialog -->
              <Component Id="AssemblyFoldersEx_x86">
                <Condition>NOT VersionNT64</Condition>
                <RegistryKey Root="HKLM" Key="Software\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\Ultraviolet Framework 1.3">
                  <RegistryValue Type="string" Value="[References]"/>
                </RegistryKey>
              </Component>
              <Component Id="AssemblyFoldersEx_x64">
                <Condition>VersionNT64</Condition>
                <RegistryKey Root="HKLM" Key="Software\Wow6432Node\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\Ultraviolet Framework 1.3">
                  <RegistryValue Type="string" Value="[References]"/>
                </RegistryKey>
              </Component>
              <!-- Install reference DLLs -->
              <Component Id="TwistedLogik.Gluon">
                <File Id="TwistedLogik.Gluon" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Gluon.dll" />
              </Component>
              <Component Id="TwistedLogik.Nucleus">
                <File Id="TwistedLogik.Nucleus" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Nucleus.dll" />
              </Component>
              <Component Id="TwistedLogik.Nucleus_XML">
                <File Id="TwistedLogik.Nucleus_XML" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Nucleus.xml" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet">
                <File Id="TwistedLogik.Ultraviolet" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet_XML">
                <File Id="TwistedLogik.Ultraviolet_XML" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.xml" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.BASS">
                <File Id="TwistedLogik.Ultraviolet.BASS" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.BASS.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.OpenGL">
                <File Id="TwistedLogik.Ultraviolet.OpenGL" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.OpenGL.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.OpenGL_XML">
                <File Id="TwistedLogik.Ultraviolet.OpenGL_XML" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.OpenGL.xml" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.SDL2">
                <File Id="TwistedLogik.Ultraviolet.SDL2" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.SDL2.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.WindowsForms">
                <File Id="TwistedLogik.Ultraviolet.WindowsForms" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.WindowsForms.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.WindowsForms_XML">
                <File Id="TwistedLogik.Ultraviolet.WindowsForms_XML" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.WindowsForms.xml" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.Desktop">
                <File Id="TwistedLogik.Ultraviolet.Desktop" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.Desktop.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.OSX">
                <File Id="TwistedLogik.Ultraviolet.OSX" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.OSX.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.UI.Presentation">
                <File Id="TwistedLogik.Ultraviolet.UI.Presentation" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.UI.Presentation.dll" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.UI.Presentation_XML">
                <File Id="TwistedLogik.Ultraviolet.UI.Presentation_XML" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.UI.Presentation.xml" />
              </Component>
              <Component Id="TwistedLogik.Ultraviolet.UI.Presentation.Compiler">
                <File Id="TwistedLogik.Ultraviolet.UI.Presentation.Compiler" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.UI.Presentation.Compiler.dll" />
              </Component>
              <Component Id="Newtonsoft.Json">
                <File Id="Newtonsoft.Json" Source="..\Dependencies\Newtonsoft.Json.dll" />
              </Component>
              <Directory Id="Android" Name="Android">
                <!-- Android reference DLLs -->
                <Component Id="Android_TwistedLogik.Gluon">
                  <File Id="Android_TwistedLogik.Gluon" Source="..\Binaries\Android\Signed\TwistedLogik.Gluon.dll" />
                </Component>
                <Component Id="Android_TwistedLogik.Nucleus">
                  <File Id="Android_TwistedLogik.Nucleus" Source="..\Binaries\Android\Signed\TwistedLogik.Nucleus.dll" />
                </Component>
                <Component Id="Android_TwistedLogik.Nucleus_XML">
                  <File Id="Android_TwistedLogik.Nucleus_XML" Source="..\Binaries\Android\Signed\TwistedLogik.Nucleus.xml" />
                </Component>
                <Component Id="Android_TwistedLogik.Ultraviolet">
                  <File Id="Android_TwistedLogik.Ultraviolet" Source="..\Binaries\Android\Signed\TwistedLogik.Ultraviolet.dll" />
                </Component>
                <Component Id="Android_TwistedLogik.Ultraviolet_XML">
                  <File Id="Android_TwistedLogik.Ultraviolet_XML" Source="..\Binaries\Android\Signed\TwistedLogik.Ultraviolet.xml" />
                </Component>
                <Component Id="Android_TwistedLogik.Ultraviolet.BASS">
                  <File Id="Android_TwistedLogik.Ultraviolet.BASS" Source="..\Binaries\Android\Signed\TwistedLogik.Ultraviolet.BASS.dll" />
                </Component>
                <Component Id="Android_TwistedLogik.Ultraviolet.OpenGL">
                  <File Id="Android_TwistedLogik.Ultraviolet.OpenGL" Source="..\Binaries\Android\Signed\TwistedLogik.Ultraviolet.OpenGL.dll" />
                </Component>
                <Component Id="Android_TwistedLogik.Ultraviolet.OpenGL_XML">
                  <File Id="Android_TwistedLogik.Ultraviolet.OpenGL_XML" Source="..\Binaries\Android\Signed\TwistedLogik.Ultraviolet.OpenGL.xml" />
                </Component>
                <Component Id="Android_TwistedLogik.Ultraviolet.SDL2">
                  <File Id="Android_TwistedLogik.Ultraviolet.SDL2" Source="..\Binaries\Android\Signed\TwistedLogik.Ultraviolet.SDL2.dll" />
                </Component>
                <Component Id="Android_TwistedLogik.Ultraviolet.Android">
                  <File Id="Android_TwistedLogik.Ultraviolet.Android" Source="..\Binaries\Android\Signed\TwistedLogik.Ultraviolet.Android.dll" />
                </Component>
                <Component Id="Android_Newtonsoft.Json">
                  <File Id="Android_Newtonsoft.Json" Source="..\Dependencies\Newtonsoft.Json.dll" />
                </Component>
              </Directory>
            </Directory>
            <!-- Tools -->
            <Directory Id="Tools" Name="Tools">
              <Component Id="Tools_PATH" Guid="79b23304-95a0-42d5-9f7f-9e418cea3a4d">
                <CreateFolder Directory="Tools"/>
                <Environment Id="Tools_PATH" Name="PATH" Value="[Tools]" Permanent="no" Part="last" Action="set" System="yes"/>
              </Component>
              <Component Id="Tools_TwistedLogik.Nucleus">
                <File Id="Tools_TwistedLogik.Nucleus" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Nucleus.dll" />
              </Component>
              <Component Id="Tools_TwistedLogik.Ultraviolet">
                <File Id="Tools_TwistedLogik.Ultraviolet" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.dll" />
              </Component>
              <Component Id="Tools_TwistedLogik.Ultraviolet.Tooling">
                <File Id="Tools_TwistedLogik.Ultraviolet.Tooling" Source="..\Binaries\AnyCPU\Signed\TwistedLogik.Ultraviolet.Tooling.dll" />
              </Component>
              <Component Id="Tools_UvFont">
                <File Id="Tools_UvFont" Source="..\Binaries\AnyCPU\Signed\uvfont.exe" />
              </Component>
              <Component Id="Tools_UvArchive">
                <File Id="Tools_UvArchive" Source="..\Binaries\AnyCPU\Signed\uvarchive.exe" />
              </Component>
            </Directory>
            <!-- Dependencies -->
            <Directory Id="Dependencies" Name="Dependencies">
              <Directory Id="Dependencies_x86" Name="x86">
                <Directory Id="Dependencies_x86_win32nt" Name="win32nt">
                  <Component Id="SDL2_x86_win32nt">
                    <File Id="SDL2_x86_win32nt" Source="..\Dependencies\SDL2\x86\win32nt\SDL2.dll" />
                  </Component>
                  <Component Id="bass_x86_win32nt">
                    <File Id="bass_x86_win32nt" Source="..\Dependencies\BASS\x86\win32nt\bass.dll" />
                  </Component>
                  <Component Id="bass_fx_x86_win32nt">
                    <File Id="bass_fx_x86_win32nt" Source="..\Dependencies\BASS\x86\win32nt\bass_fx.dll" />
                  </Component>
                </Directory>
                <Directory Id="Dependencies_x86_unix" Name="unix">
                  <Component Id="SDL2_x86_unix">
                    <File Id="SDL2_x86_unix" Source="..\Dependencies\SDL2\x86\unix\libSDL2.so" />
                  </Component>
                  <Component Id="bass_x86_unix">
                    <File Id="bass_x86_unix" Source="..\Dependencies\BASS\x86\unix\libbass.so" />
                  </Component>
                  <Component Id="bass_fx_x86_unix">
                    <File Id="bass_fx_x86_unix" Source="..\Dependencies\BASS\x86\unix\libbass_fx.so" />
                  </Component>
                </Directory>
              </Directory>
              <Directory Id="Dependencies_x64" Name="x64">
                <Directory Id="Dependencies_x64_win32nt" Name="win32nt">
                  <Component Id="SDL2_x64_win32nt">
                    <File Id="SDL2_x64_win32nt" Source="..\Dependencies\SDL2\x64\win32nt\SDL2.dll" />
                  </Component>
                  <Component Id="bass_x64_win32nt">
                    <File Id="bass_x64_win32nt" Source="..\Dependencies\BASS\x64\win32nt\bass.dll" />
                  </Component>
                  <Component Id="bass_fx_x64_win32nt">
                    <File Id="bass_fx_x64_win32nt" Source="..\Dependencies\BASS\x64\win32nt\bass_fx.dll" />
                  </Component>
                </Directory>
                <Directory Id="Dependencies_x64_unix" Name="unix">
                  <Component Id="SDL2_x64_unix">
                    <File Id="SDL2_x64_unix" Source="..\Dependencies\SDL2\x64\unix\libSDL2.so" />
                  </Component>
                  <Component Id="bass_x64_unix">
                    <File Id="bass_x64_unix" Source="..\Dependencies\BASS\x64\unix\libbass.so" />
                  </Component>
                  <Component Id="bass_fx_x64_unix">
                    <File Id="bass_fx_x64_unix" Source="..\Dependencies\BASS\x64\unix\libbass_fx.so" />
                  </Component>
                </Directory>
                <Directory Id="Dependencies_x64_osx" Name="osx">
                  <Component Id="SDL2_x64_osx">
                    <File Id="SDL2_x64_osx" Source="..\Dependencies\SDL2\x64\osx\libSDL2.dylib" />
                  </Component>
                  <Component Id="bass_x64_osx">
                    <File Id="bass_x64_osx" Source="..\Dependencies\BASS\x64\osx\libbass.dylib" />
                  </Component>
                  <Component Id="bass_fx_x64_osx">
                    <File Id="bass_fx_x64_osx" Source="..\Dependencies\BASS\x64\osx\libbass_fx.dylib" />
                  </Component>
                </Directory>
              </Directory>
              <Directory Id="Dependencies_Android" Name="Android">
                <Directory Id="Dependencies_Android_armeabi" Name="armeabi">
                  <Component Id="Android_SDL2_armeabi">
                    <File Id="Android_SDL2_armeabi" Source="..\Dependencies\SDL2\Android\armeabi\libSDL2.so" />
                  </Component>
                  <Component Id="Android_SDL2main_armeabi">
                    <File Id="Android_SDL2main_armeabi" Source="..\Dependencies\SDL2\Android\armeabi\libSDL2main.so" />
                  </Component>
                  <Component Id="Android_bass_armeabi">
                    <File Id="Android_bass_armeabi" Source="..\Dependencies\BASS\Android\armeabi\libbass.so" />
                  </Component>
                  <Component Id="Android_bass_fx_armeabi">
                    <File Id="Android_bass_fx_armeabi" Source="..\Dependencies\BASS\Android\armeabi\libbass_fx.so" />
                  </Component>
                </Directory>
                <Directory Id="Dependencies_Android_armeabiv7a" Name="armeabi-v7a">
                  <Component Id="Android_SDL2_armeabiv7a">
                    <File Id="Android_SDL2_armeabiv7a" Source="..\Dependencies\SDL2\Android\armeabi-v7a\libSDL2.so" />
                  </Component>
                  <Component Id="Android_SDL2main_armeabiv7a">
                    <File Id="Android_SDL2main_armeabiv7a" Source="..\Dependencies\SDL2\Android\armeabi-v7a\libSDL2main.so" />
                  </Component>
                  <Component Id="Android_bass_armeabiv7a">
                    <File Id="Android_bass_armeabiv7a" Source="..\Dependencies\BASS\Android\armeabi-v7a\libbass.so" />
                  </Component>
                  <Component Id="Android_bass_fx_armeabiv7a">
                    <File Id="Android_bass_fx_armeabiv7a" Source="..\Dependencies\BASS\Android\armeabi-v7a\libbass_fx.so" />
                  </Component>
                </Directory>
                <Directory Id="Dependencies_Android_x86" Name="x86">
                  <Component Id="Android_SDL2_x86">
                    <File Id="Android_SDL2_x86" Source="..\Dependencies\SDL2\Android\x86\libSDL2.so" />
                  </Component>
                  <Component Id="Android_SDL2main_x86">
                    <File Id="Android_SDL2main_x86" Source="..\Dependencies\SDL2\Android\x86\libSDL2main.so" />
                  </Component>
                  <Component Id="Android_bass_x86">
                    <File Id="Android_bass_x86" Source="..\Dependencies\BASS\Android\x86\libbass.so" />
                  </Component>
                  <Component Id="Android_bass_fx_x86">
                    <File Id="Android_bass_fx_x86" Source="..\Dependencies\BASS\Android\x86\libbass_fx.so" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <!-- VS2013 Express -->
        <Directory Id="VS2013EXPRESS_IDE" Name="VS2013ExpressDir">
          <Directory Id="VS2013WDExpressFolder" Name="WDExpress">
            <Directory Id="VS2013WDExpressProjectTemplatesFolder" Name="ProjectTemplates">
              <Directory Id="VS2013WDExpressCSharpFolder" Name="CSharp">
                <Directory Id="VS2013WDExpressUltravioletFrameworkFolder" Name="Ultraviolet Framework 1.3">
                  <Component Id="VS2013WDExpressRegKey">
                    <RegistryValue Id="VS2013WDExpressRegKey" Root="HKLM" Key="SOFTWARE\TwistedLogik\Ultraviolet Framework 1.3\Features" Name="VS2013WDIntegration" Value="1" Type="integer" />
                  </Component>
                  <Component Id="VS2013WDExpressUltravioletGame.zip">
                    <File Id="VS2013WDExpressUltravioletGame.zip" Source="..\Ultraviolet Game.zip" />
                  </Component>
                  <Component Id="VS2013WDExpressUltravioletTool.zip">
                    <File Id="VS2013WDExpressUltravioletTool.zip" Source="..\Ultraviolet Tool (Windows Forms).zip" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>                     
          </Directory>
        </Directory>        
        <!-- VS2013 -->
        <Directory Id="VS2013_PROJECTTEMPLATES_DIR" Name="VS2013Dir">
          <Directory Id="VS2013CSharpFolder" Name="CSharp">
            <Directory Id="VS2013UltravioletFrameworkFolder" Name="Ultraviolet Framework 1.3">
              <Component Id="VS2013RegKey">
                <RegistryValue Id="VS2013RegKey" Root="HKLM" Key="SOFTWARE\TwistedLogik\Ultraviolet Framework 1.3\Features" Name="VS2013Integration" Value="1" Type="integer" />
              </Component>
              <Component Id="VS2013UltravioletGame.zip">
                <File Id="VS2013UltravioletGame.zip" Source="..\Ultraviolet Game.zip" />
              </Component>
              <Component Id="VS2013UltravioletTool.zip">
                <File Id="VS2013UltravioletTool.zip" Source="..\Ultraviolet Tool (Windows Forms).zip" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <!-- VS2015 -->
        <Directory Id="VS2015_PROJECTTEMPLATES_DIR" Name="VS2015Dir">
          <Directory Id="VS2015CSharpFolder" Name="CSharp">
            <Directory Id="VS2015UltravioletFrameworkFolder" Name="Ultraviolet Framework 1.3">
              <Component Id="VS2015RegKey">
                <RegistryValue Id="VS2015RegKey" Root="HKLM" Key="SOFTWARE\TwistedLogik\Ultraviolet Framework 1.3\Features" Name="VS2015Integration" Value="1" Type="integer" />
              </Component>
              <Component Id="VS2015UltravioletGame.zip">
                <File Id="VS2015UltravioletGame.zip" Source="..\Ultraviolet Game.zip" />
              </Component>
              <Component Id="VS2015UltravioletTool.zip">
                <File Id="VS2015UltravioletTool.zip" Source="..\Ultraviolet Tool (Windows Forms).zip" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>