<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="UltravioletSample.Sample10_AsynchronousContentLoading" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="Sample 10 - Asynchronous Content Loading" android:icon="@drawable/desktop_uv72"></application>
</manifest>