<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="bass" os="linux" wordsize="32" target="x86/unix/libbass.so" />
  <dllmap dll="bass" os="linux" wordsize="64" target="x64/unix/libbass.so" />
  <dllmap dll="bass" os="osx" target="x64/osx/libbass.dylib" />
  <dllmap dll="bass_fx" os="linux" wordsize="32" target="x86/unix/libbass_fx.so" />
  <dllmap dll="bass_fx" os="linux" wordsize="64" target="x64/unix/libbass_fx.so" />
  <dllmap dll="bass_fx" os="osx" target="x64/osx/libbass_fx.dylib" />
</configuration>