<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UvTestRunnerClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <UvTestRunnerClient.Settings>
            <setting name="UvTestRunnerUrlIntel" serializeAs="String">
              <value>http://localhost:9000</value>
            </setting>
            <setting name="UvTestRunnerUrlNvidia" serializeAs="String">
              <value>http://localhost:9000</value>
            </setting>
            <setting name="UvTestRunnerUrlAmd" serializeAs="String">
              <value>http://localhost:9000</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>C:\Ultraviolet</value>
            </setting>
            <setting name="OutputNameIntel" serializeAs="String">
              <value>foo_intel.trx</value>
            </setting>
            <setting name="OutputNameNvidia" serializeAs="String">
              <value>foo_nvidia.trx</value>
            </setting>
            <setting name="OutputNameAmd" serializeAs="String">
                <value>foo_amd.trx</value>
            </setting>
            <setting name="UvTestViewerUrl" serializeAs="String">
                <value>http://localhost:20315</value>
            </setting>
        </UvTestRunnerClient.Settings>
    </applicationSettings>
</configuration>