<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="bass" wordsize="32" target="x86/unix/libbass.so" />
  <dllmap dll="bass" wordsize="64" target="x64/unix/libbass.so" />
  <dllmap dll="bass_fx" wordsize="32" target="x86/unix/libbass_fx.so" />
  <dllmap dll="bass_fx" wordsize="64" target="x64/unix/libbass_fx.so" />
</configuration>