<#@ include file="..\..\..\..\BindingExpressionCompilerTemplate.t4" 
#><#= GenerateSourceCodeForViewModel("TwistedLogik.Ultraviolet.UI.Presentation", "MessageBoxViewModel_Impl", "MessageBoxScreen.xml") #>